.caja_inicio{
    height: 1024px;
}
.img_niño{
    width: 45rem;
    height: 45rem;
    margin: 50rem 0rem 0rem 0rem;
}
.logo_ERP{
    width: 40rem;
    height: 15rem;
    margin: 8rem 0rem 3rem 0rem;
}
